# SQL Miniproject
*The original project assignment was created by Pragmatic Institute, but modified and fulfilled by Hanyu Yangcheng.*

### Introduction & the Data

The city of New York does restaurant inspections and assigns a grade. The raw data can be found [here](https://s3.amazonaws.com/dataincubator-course/coursedata/nyc_inspection_data.zip) and can be useful to look at. The file `RI_Webextract_BigApps_Latest.xls` contains a description of each of the data files and what the columns mean.

As you may notice, the original data come in CSV files. The CSV files were read using pandas and converted into SQL via some [SQL magic](https://github.com/catherinedevlin/ipython-sql#pandas).

In [ ]:
import pandas as pd

%load_ext sql

%sql sqlite:///action.db

action = pd.read_csv('Action.txt', encoding = "ISO-8859-1")

%sql DROP TABLE IF EXISTS action;
%sql --persist action

%sql sqlite:///cuisine.db

cuisine = pd.read_csv('Cuisine.txt', encoding = "ISO-8859-1")

%sql DROP TABLE IF EXISTS cuisine;
%sql --persist cuisine

%sql sqlite:///violation.db

violation = pd.read_csv('Violation.txt',  encoding = "ISO-8859-1")

%sql DROP TABLE IF EXISTS violation;
%sql --persist violation

%sql sqlite:///webextract.db

webextract = pd.read_csv('WebExtract.txt', encoding = "ISO-8859-1")

%sql DROP TABLE IF EXISTS webextract;
%sql --persist webextract

In [6]:
# Reload the table 

%reload_ext sql
%sql sqlite:///sample.db

%sql SELECT * FROM sample;

 * sqlite:///sample.db
Done.

[(0, '1901-01-01 00:00:00', '2002-12-31 00:00:00', '8         ', 'Establishment re-closed by DOHMH'),
 (1, '2003-01-01 00:00:00', '2010-07-18 00:00:00', '8         ', 'Establishment re-closed by DOHMH'),
 (2, '2010-07-19 00:00:00', '2099-12-31 00:00:00', '8         ', 'Establishment re-closed by DOHMH'),
 (3, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'A         ', None),
 (4, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'A         ', None),
 (5, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'A         ', None),
 (6, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'B         ', 'No violations were recorded at the time of this inspection.'),
 (7, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'B         ', 'No violations were recorded at the time of this inspection.'),
 (8, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'B         ', 'No violations were recorded at the time of this inspection.'),
 (9, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'C         ', 'No violations were recorded at the time of this inspection.'),
 (10, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'C         ', 'No violations were recorded at the time of this inspection.'),
 (11, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'C         ', 'Violations were cited in the following area(s).'),
 (12, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'D         ', 'Violations were cited in the following area(s).'),
 (13, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'D         ', 'Violations were cited in the following area(s).'),
 (14, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'D         ', 'Violations were cited in the following area(s).'),
 (15, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'E         ', 'Violations were cited in the following area(s).'),
 (16, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'E         ', 'Violations were cited in the following area(s).'),
 (17, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'E         ', 'Violations were cited in the following area(s).'),
 (18, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'F         ', 'Violations were cited in the following area(s).'),
 (19, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'F         ', 'Violations were cited in the following area(s).'),
 (20, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'F         ', 'Violations were cited in the following area(s).'),
 (21, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'G         ', 'Establishment Closed by DOHMH.  Violations were cited in the following area(s) and those requiring immediate action were addressed.'),
 (22, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'G         ', 'Establishment Closed by DOHMH.  Violations were cited in the following area(s) and those requiring immediate action were addressed.'),
 (23, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'G         ', 'Establishment Closed by DOHMH.  Violations were cited in the following area(s) and those requiring immediate action were addressed.'),
 (24, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'H         ', None),
 (25, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'H         ', None),
 (26, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'H         ', None),
 (27, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'I         ', None),
 (28, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'I         ', None),
 (29, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'I         ', None),
 (30, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'J         ', None),
 (31, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'J         ', None),
 (32, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'J         ', None),
 (33, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'K         ', None),
 (34, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'K         ', None),
 (35, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'K         ', None),
 (36, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'L         ', None),
 (37, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'L         ', None),
 (38, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'L         ', None),
 (39, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'M         ', None),
 (40, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'M         ', None),
 (41, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'M         ', None),
 (42, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'N         ', None),
 (43, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'N         ', None),
 (44, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'N         ', None),
 (45, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'O         ', 'Establishment re-opened by DOHMH'),
 (46, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'O         ', 'Establishment re-opened by DOHMH'),
 (47, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'O         ', 'Establishment re-opened by DOHMH'),
 (48, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'P         ', 'Establishment padlocked by DOHMH'),
 (49, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'P         ', 'Establishment padlocked by DOHMH'),
 (50, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'P         ', 'Violations were cited in the following area(s).'),
 (51, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'Q         ', None),
 (52, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'Q         ', None),
 (53, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'Q         ', None),
 (54, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'R         ', None),
 (55, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'R         ', None),
 (56, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'R         ', None),
 (57, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'S         ', 'Violations were cited in the following area(s).'),
 (58, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'S         ', 'Violations were cited in the following area(s).'),
 (59, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'S         ', 'Violations were cited in the following area(s).'),
 (60, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'T         ', 'Violations were cited in the following area(s).'),
 (61, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'T         ', 'Violations were cited in the following area(s).'),
 (62, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'T         ', 'Violations were cited in the following area(s).'),
 (63, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'U         ', 'Violations were cited in the following area(s).'),
 (64, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'U         ', 'Violations were cited in the following area(s).'),
 (65, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'U         ', 'Violations were cited in the following area(s).'),
 (66, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'V         ', None),
 (67, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'V         ', None),
 (68, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'V         ', None),
 (69, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'W         ', 'Establishment re-closed by DOHMH'),
 (70, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'W         ', 'Establishment re-closed by DOHMH'),
 (71, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'W         ', 'Establishment re-closed by DOHMH'),
 (72, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'X         ', None),
 (73, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'X         ', None),
 (74, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'X         ', None),
 (75, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'Y         ', None),
 (76, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'Y         ', None),
 (77, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'Y         ', None),
 (78, '1901-01-01 00:00:00', '2002-12-31 00:00:00', 'Z         ', None),
 (79, '2003-01-01 00:00:00', '2010-07-18 00:00:00', 'Z         ', None),
 (80, '2010-07-19 00:00:00', '2099-12-31 00:00:00', 'Z         ', None)]

### Remove Null entries

In `webextract` table, remove inspections (`CAMIS` / `INSPDATE` pairs) that do not have a score - i.e. where none of the rows with those (`CAMIS`, `INSPDATE`) values has a score.
As an example, we might see this in the data:

| `CAMIS` | `INSPDATE` | `SCORE` |
| --- | --- | --- |
| 30075445 | 2011-03-10 00:00:00 | 14.0 |
| 30075445 | 2011-03-10 00:00:00 | 14.0 |
| 30075445 | 2011-03-10 00:00:00 | 14.0 |
| 30075445 | 2011-03-10 00:00:00 | None |
| 30075445 | 2011-04-27 00:00:00 | None |
| 30075445 | 2011-11-12 00:00:00 | None |
| 30075445 | 2011-11-12 00:00:00 | None |
| 30075445 | 2011-11-23 00:00:00 | 9.0 |
| 30075445 | 2011-11-23 00:00:00 | 9.0 |
| 30075445 | 2011-11-23 00:00:00 | 9.0 |

We want to filter only those dates for a given `CAMIS` where _every_ score is NULL (or `None` in the Python output).  In this case, we would remove 2011-04-27 and 2011-11-12, but keep 2011-03-10 (and 2011-11-23, of course).  Our post-filtering table would be:

| `CAMIS` | `INSPDATE` | `SCORE` |
| --- | --- | --- |
| 30075445 | 2011-03-10 00:00:00 | 14.0 |
| 30075445 | 2011-03-10 00:00:00 | 14.0 |
| 30075445 | 2011-03-10 00:00:00 | 14.0 |
| 30075445 | 2011-03-10 00:00:00 | None |
| 30075445 | 2011-11-23 00:00:00 | 9.0 |
| 30075445 | 2011-11-23 00:00:00 | 9.0 |
| 30075445 | 2011-11-23 00:00:00 | 9.0 |

In [8]:
%%sql

DROP TABLE IF EXISTS noNullEntry;

CREATE TEMP TABLE noNullEntry AS

    WITH noNull AS(
        SELECT camis, inspdate, COUNT(score) FROM webextract
        GROUP BY camis, inspdate
        HAVING COUNT(score) > 0)
    SELECT * FROM webextract
    WHERE camis IN (SELECT camis FROM noNull) AND inspdate IN (SELECT inspdate FROM noNull)

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
Done.
531055 rows affected.

[]

### Score by ZIP code

Return a list of tuples of the form:

    (ZIP code, mean score, number of restaurants)

for each of the 87 ZIP codes in the city with over 100 restaurants (we'll call these "valid ZIP codes"). Score from the latest inspection date for each restaurant was used to calculate the mean.

In [ ]:
%%sql

DROP TABLE IF EXISTS score_by_zip;

CREATE TEMP TABLE score_by_zip AS

    WITH validZipcode AS (
        SELECT zipcode, COUNT(DISTINCT(camis)) FROM noNullEntry
        GROUP BY zipcode
        ),
        mostRecent AS (
        SELECT camis, MAX(inspdate) AS most_recent FROM noNullEntry
        WHERE zipcode IN (SELECT zipcode FROM validZipcode)
        GROUP BY camis
        )
    SELECT boro, zipcode, noNullEntry.camis, score, noNullEntry.inspdate FROM noNullEntry AS noNullEntry
    JOIN mostRecent ON noNullEntry.camis = mostRecent.camis AND noNullEntry.inspdate = mostRecent.most_recent
    --WHERE score IS NOT NULL
    ORDER BY zipcode, camis

In [14]:
%%sql

SELECT zipcode, AVG(score), COUNT(camis) FROM
(SELECT MIN(zipcode) AS zipcode, AVG(score) AS score, camis FROM score_by_zip GROUP BY camis) AS unique_values
GROUP BY zipcode
HAVING COUNT(DISTINCT(camis)) > 100
ORDER BY AVG(score)

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
87 rows affected.

[('10451', Decimal('9.07236842105263157895'), 154),
 ('10001', Decimal('9.14669421487603305785'), 495),
 ('11430', Decimal('9.68965517241379310345'), 145),
 ('11236', Decimal('9.86538461538461538462'), 106),
 ('10472', Decimal('10.11538461538461538462'), 107),
 ('11234', Decimal('10.12765957446808510638'), 145),
 ('11217', Decimal('10.29707112970711297071'), 246),
 ('10004', Decimal('10.38211382113821138211'), 127),
 ('10306', Decimal('10.40384615384615384615'), 105),
 ('11368', Decimal('10.51624548736462093863'), 280),
 ('11231', Decimal('10.52054794520547945205'), 152),
 ('10462', Decimal('10.53793103448275862069'), 145),
 ('11201', Decimal('10.55140186915887850467'), 333),
 ('11209', Decimal('10.62083333333333333333'), 253),
 ('11105', Decimal('10.63247863247863247863'), 119),
 ('11237', Decimal('10.65116279069767441860'), 175),
 ('10461', Decimal('10.68055555555555555556'), 149),
 ('10007', Decimal('10.69166666666666666667'), 131),
 ('10019', Decimal('10.73817034700315457413'), 648),
 ('10023', Decimal('10.78260869565217391304'), 192),
 ('10065', Decimal('10.78750000000000000000'), 167),
 ('11207', Decimal('10.81818181818181818182'), 128),
 ('11218', Decimal('10.83458646616541353383'), 142),
 ('11435', Decimal('10.94117647058823529412'), 103),
 ('10022', Decimal('10.94218415417558886510'), 473),
 ('11222', Decimal('10.96022727272727272727'), 185),
 ('10468', Decimal('10.9896907216494845'), 102),
 ('10458', Decimal('11.02185792349726775956'), 188),
 ('10463', Decimal('11.0483870967741935'), 126),
 ('10036', Decimal('11.09430604982206405694'), 581),
 ('11204', Decimal('11.12711864406779661017'), 120),
 ('11101', Decimal('11.18348623853211009174'), 230),
 ('11238', Decimal('11.21226415094339622642'), 229),
 ('11361', Decimal('11.22935779816513761468'), 112),
 ('11232', Decimal('11.2307692307692308'), 106),
 ('10467', Decimal('11.28846153846153846154'), 161),
 ('11385', Decimal('11.29535864978902953586'), 243),
 ('11215', Decimal('11.32000000000000000000'), 360),
 ('10027', Decimal('11.32467532467532467532'), 158),
 ('11106', Decimal('11.33333333333333333333'), 154),
 ('11103', Decimal('11.40000000000000000000'), 201),
 ('11432', Decimal('11.40000000000000000000'), 185),
 ('10017', Decimal('11.40449438202247191011'), 364),
 ('11373', Decimal('11.48372093023255813953'), 219),
 ('10010', Decimal('11.48484848484848484848'), 239),
 ('10011', Decimal('11.53146853146853146853'), 441),
 ('11226', Decimal('11.56122448979591836735'), 198),
 ('10024', Decimal('11.59067357512953367876'), 195),
 ('10012', Decimal('11.61558441558441558442'), 395),
 ('10028', Decimal('11.66000000000000000000'), 211),
 ('10038', Decimal('11.66233766233766233766'), 162),
 ('11221', Decimal('11.73786407766990291262'), 106),
 ('10003', Decimal('11.74921135646687697161'), 658),
 ('10014', Decimal('11.75129533678756476684'), 399),
 ('10016', Decimal('11.75949367088607594937'), 402),
 ('11230', Decimal('11.76767676767676767677'), 101),
 ('10018', Decimal('11.79012345679012345679'), 325),
 ('10025', Decimal('11.79090909090909090909'), 229),
 ('11206', Decimal('11.82352941176470588235'), 141),
 ('11358', Decimal('11.82442748091603053435'), 137),
 ('11375', Decimal('11.82795698924731182796'), 190),
 ('10009', Decimal('11.85813148788927335640'), 303),
 ('10002', Decimal('11.87356321839080459770'), 454),
 ('11219', Decimal('11.87755102040816326531'), 101),
 ('10029', Decimal('12.02150537634408602151'), 191),
 ('11208', Decimal('12.02702702702702702703'), 113),
 ('10013', Decimal('12.06561085972850678733'), 464),
 ('11205', Decimal('12.09859154929577464789'), 144),
 ('10314', Decimal('12.09883720930232558140'), 182),
 ('11203', Decimal('12.12977099236641221374'), 135),
 ('11214', Decimal('12.19047619047619047619'), 175),
 ('11223', Decimal('12.2941176470588235'), 178),
 ('11211', Decimal('12.32047477744807121662'), 348),
 ('11216', Decimal('12.40259740259740259740'), 159),
 ('11229', Decimal('12.58823529411764705882'), 138),
 ('10021', Decimal('12.61379310344827586207'), 149),
 ('10128', Decimal('12.67763157894736842105'), 157),
 ('11249', Decimal('12.7463768115942029'), 147),
 ('11372', Decimal('12.84175084175084175084'), 309),
 ('10032', Decimal('12.85964912280701754386'), 115),
 ('11354', Decimal('12.95209580838323353293'), 344),
 ('11377', Decimal('13.03960396039603960396'), 206),
 ('10033', Decimal('13.13274336283185840708'), 113),
 ('11220', Decimal('13.21160409556313993174'), 305),
 ('11235', Decimal('13.33742331288343558282'), 172),
 ('11104', Decimal('13.56730769230769230769'), 110),
 ('11355', Decimal('14.0810810810810811'), 187)]

### Score by borough

Return a list of tuples of the form:

    (borough, mean score, number of restaurants)

for each of the city's five boroughs. Again,  Score from the latest inspection date for each restaurant was used to calculate the mean.

Have to perform a join with the `boroughs` table to extract the borough names.

In [47]:
%%sql

SELECT name, AVG(avg), COUNT(camis) FROM (
SELECT camis, AVG(score), MAX(name) AS name FROM (
    SELECT boro, boroughs.name, camis, score FROM score_by_zip AS score_by_zip
    JOIN boroughs ON score_by_zip.boro = boroughs.id
    ORDER BY boro, camis) AS dupRemoved
GROUP BY camis) AS score_by_boro
GROUP BY name

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
5 rows affected.

[('BROOKLYN', Decimal('11.51364280652019844082'), 5849),
 ('MANHATTAN', Decimal('11.39054363674234534472'), 9891),
 ('QUEENS', Decimal('11.76678645734821259694'), 5417),
 ('STATEN ISLAND', Decimal('11.75428571428571428571'), 912),
 ('THE BRONX', Decimal('10.71300044984255510571'), 2281)]

### Violations by cuisine

We want to look at violations now.  We'll need to think more carefully about what we're measuring, since most restaurants have many inspections with possibly multiple violations per inspection, or long stretches of inspections with no violations.

There are many ways to deal with this normalization issue, but we'll go with a fairly straightforward one: dividing the number of violations by the length of time (in years) the restaurant has been open.  As a proxy for the length, we'll look at the difference between the oldest and newest inspection date, treating anything less than 30 days as 30 days (to account for those that were only inspected once, we'll assume everything was open for at least a month).

Since there are so many restaurants, we'll group them by cuisine and do a weighted average by computing 

    (total violations for a cuisine) / (total restaurant-years for that cuisine)

and return a list of 75 tuples of the form

    (cuisine name, reports per restaurant-year)
    
for cuisines with at least 100 violations total, ordered by increasing number of reports per restaurant-year.

In [9]:
%%sql 

WITH byrestaurant AS (
    SELECT camis, MIN(cuisinecode) AS cuisinecode, COUNT(violcode) AS violations,
        CASE
            WHEN (EXTRACT(day FROM (MAX(inspdate) - MIN(inspdate))))<30 THEN 30/365.0
            ELSE EXTRACT(day FROM (MAX(inspdate) - MIN(inspdate)))/365.0
        END AS restaurant_years
    FROM noNullEntry
    GROUP BY camis),
    
    bycuisine AS(
    SELECT cuisinecode, SUM(violations) AS total_viol, SUM(restaurant_years) AS total_years FROM byrestaurant
    GROUP BY cuisinecode
    HAVING SUM(violations) >= 100)

SELECT cuisine.codedesc, (total_viol/total_years) AS reports_per_year FROM bycuisine AS bycuisine
    JOIN cuisine ON bycuisine.cuisinecode = cuisine.cuisinecode
    ORDER BY reports_per_year

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
75 rows affected.

[('Hotdogs/Pretzels', Decimal('3.78549459981403331430')),
 ('Soups & Sandwiches', Decimal('5.89155107187894073660')),
 ('Hotdogs', Decimal('5.96373721746349194955')),
 ('Donuts', Decimal('6.07440275020066748561')),
 ('Ice Cream, Gelato, Yogurt, Ices', Decimal('6.21499988400955761437')),
 ('Sandwiches', Decimal('6.54700402549202753875')),
 ('Café/Coffee/Tea', Decimal('6.71338946836771830462')),
 ('Bottled beverages, including water, sodas, juices, etc.', Decimal('7.01355039051472663857')),
 ('Juice, Smoothies, Fruit Salads', Decimal('7.04893190237045930533')),
 ('Not Listed/Not Applicable', Decimal('7.33134007973014416747')),
 ('Hamburgers', Decimal('7.41560328439963199237')),
 ('Sandwiches/Salads/Mixed Buffet', Decimal('7.48540895185960392312')),
 ('Ethiopian', Decimal('8.51704902576995600653')),
 ('Barbecue', Decimal('8.81258876499561840380')),
 ('Other', Decimal('8.98152515723270441163')),
 ('Cajun', Decimal('9.2346289752650177')),
 ('English', Decimal('9.26860792214703864449')),
 ('Steak', Decimal('9.42473489093887403457')),
 ('American ', Decimal('9.67101574186692032753')),
 ('Salads', Decimal('9.70099667774086376472')),
 ('Irish', Decimal('9.93224782159208387626')),
 ('Pizza', Decimal('10.05655350245574668389')),
 ('Chicken', Decimal('10.06529045358708419330')),
 ('Czech', Decimal('10.09472996515679442839')),
 ('Egyptian', Decimal('10.10661998726925525586')),
 ('Continental', Decimal('10.11088880121738151724')),
 ('Armenian', Decimal('10.11177837198088807394')),
 ('Bagels/Pretzels', Decimal('10.17901672347921576069')),
 ('Greek', Decimal('10.32077601567082414138')),
 ('French', Decimal('10.49575983388639847054')),
 ('Southwestern', Decimal('10.51291146424517592972')),
 ('Vegetarian', Decimal('10.52812232992545890276')),
 ('Middle Eastern', Decimal('10.52899894644272044469')),
 ('Tex-Mex', Decimal('10.59020921786280627791')),
 ('Scandinavian', Decimal('10.70992516738873575858')),
 ('Polish', Decimal('10.88337325514165357557')),
 ('Australian', Decimal('10.88896908456634193377')),
 ('Italian', Decimal('10.89064667653603717253')),
 ('Bakery', Decimal('10.90340656078373162819')),
 ('Mediterranean', Decimal('10.94564169699759748791')),
 ('Moroccan', Decimal('10.97628123676408296685')),
 ('Russian', Decimal('11.07437458755774190949')),
 ('Pizza/Italian', Decimal('11.15453295323072858965')),
 ('Seafood', Decimal('11.15582409509188007027')),
 ('Jewish/Kosher', Decimal('11.15625443847012274854')),
 ('Tapas', Decimal('11.21391043282461845010')),
 ('Pancakes/Waffles', Decimal('11.3975628332063976')),
 ('German', Decimal('11.52674152323262175031')),
 ('Soul Food', Decimal('11.57744081695806900856')),
 ('Turkish', Decimal('11.97246234166381376420')),
 ('Caribbean', Decimal('11.97938644503833445124')),
 ('Mexican', Decimal('11.99258461159740345427')),
 ('Eastern European', Decimal('12.20418894632912519938')),
 ('Japanese', Decimal('12.29690382154159836287')),
 ('Afghan', Decimal('12.36310263068759174721')),
 ('Delicatessen', Decimal('12.66893236914301432560')),
 ('Thai', Decimal('12.80015886844667657613')),
 ('Vietnamese/Cambodian/Malaysia', Decimal('12.80836898754820514308')),
 ('Brazilian', Decimal('12.83659650412051861266')),
 ('African', Decimal('12.96236704177585940988')),
 ('Filipino', Decimal('13.04886506935687269233')),
 ('Latin (Cuban, Dominican, Puerto Rican, South & Central American)', Decimal('13.09396086787746640759')),
 ('Spanish', Decimal('13.27210049112202493507')),
 ('Indian', Decimal('13.30102543745009968953')),
 ('Korean', Decimal('13.30712230705942154823')),
 ('Chinese', Decimal('13.31204639195329652628')),
 ('Peruvian', Decimal('13.58414239482200645158')),
 ('Indonesian', Decimal('13.63468958260259546931')),
 ('Asian', Decimal('13.67789473684210527407')),
 ('Bangladeshi', Decimal('14.04047904191616763003')),
 ('Pakistani', Decimal('14.62163497159792544582')),
 ('Chinese/Cuban', Decimal('14.92717086834733891118')),
 ('Portuguese', Decimal('14.94899512789281363621')),
 ('Chinese/Japanese', Decimal('15.59123393653291369630')),
 ('Creole', Decimal('15.90112921852944946363'))]

### Specific violations by cuisine

Now we want to know which cuisines tend to have a disproportionate number of what which violations? Answering this question isn't easy because you have to think carefully about normalizations.

1. More popular cuisine categories will tend to have more violations just because they represent more restaurants.
2. Similarly, some violations are more common.  For example, knowing that "Equipment not easily movable or sealed to floor" is a common violation for Chinese restaurants is not particularly helpful when it is a common violation for all restaurants.

The right quantity is to look at is the conditional probability of a specific type of violation given a specific cuisine type and divide it by the unconditional probability of the violation for the entire population.

In [14]:
%%sql
DROP TABLE IF EXISTS freq_general;

CREATE TEMP TABLE freq_general AS
    SELECT violcode, COUNT(violcode)/520712.0 AS freq_general FROM noNullEntry
    WHERE violcode IN (SELECT violcode FROM (select * from violations where enddate > '2014-01-01') AS validViolcode)
    GROUP BY violcode

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
Done.
97 rows affected.

[]

In [19]:
%%sql

select * from freq_general
limit 5

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
5 rows affected.

[('02A', Decimal('0.00095638279893684033')),
 ('02B', Decimal('0.04709513128178340426')),
 ('02C', Decimal('0.00105624606308285578')),
 ('02D', Decimal('0.000099863264146015455761')),
 ('02E', Decimal('0.000036488500361044108836'))]

In [38]:
%%sql
DROP TABLE IF EXISTS freq_bycuisine;

CREATE TEMP TABLE freq_bycuisine AS

SELECT A.cuisinecode, A.violcode, A.count_bycuisine, A.count_bycuisine*1.0/B.total_bycuisine AS freq_bycuisine FROM (
    SELECT cuisinecode, violcode, COUNT(violcode) AS count_bycuisine FROM noNullEntry
    GROUP BY cuisinecode, violcode
    HAVING COUNT(violcode) > 100
    ) AS A
    
    INNER JOIN (SELECT cuisinecode, COUNT(violcode) AS total_bycuisine FROM noNullEntry
                GROUP BY cuisinecode
                --HAVING COUNT(violcode) > 100
                ) AS B
    ON A.cuisinecode = B.cuisinecode

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
Done.
748 rows affected.

[]

In [35]:
%%sql
SELECT * FROM freq_bycuisine
LIMIT 5

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
5 rows affected.

[(63, '10B', 630, Decimal('0.05918271488961953969')),
 (53, '04J', 326, Decimal('0.01250911323433482982')),
 (2, '02G', 113, Decimal('0.06131307650569723277')),
 (29, '08A', 550, Decimal('0.08726003490401396161')),
 (20, '02G', 5646, Decimal('0.09273981603153745072'))]

In [36]:
%%sql

SELECT cuisine.codedesc, violations.violationdesc, (freq_bycuisine.freq_bycuisine / freq_general.freq_general) AS ratio, freq_bycuisine.count_bycuisine AS count
FROM freq_bycuisine AS freq_bycuisine
    INNER JOIN freq_general ON freq_bycuisine.violcode = freq_general.violcode
    JOIN cuisine ON freq_bycuisine.cuisinecode = cuisine.cuisinecode
    JOIN violations ON freq_bycuisine.violcode = violations.violationcode
WHERE violations.enddate > '2014-01-01'
ORDER BY ratio DESC
LIMIT 20

 * postgresql://docker:***@nycinspection.tditrain.com:5433/NYCinspection
20 rows affected.

[('Japanese', 'Food worker does not use proper utensil to eliminate bare hand contact with food that will not receive adequate additional heat treatment.', Decimal('3.24412382195102548086'), 541),
 ('Café/Coffee/Tea', '“Choking first aid” poster not posted. “Alcohol and pregnancy” warning sign not posted. Resuscitation equipment: exhaled air resuscitation masks (adult & pediatric), latex gloves, sign not posted. Inspection report sign not posted.', Decimal('3.15323018491072815696'), 175),
 ('Juice, Smoothies, Fruit Salads', 'Food Protection Certificate not held by supervisor of food operations.', Decimal('3.08952882083433176035'), 145),
 ('Donuts', 'Accurate thermometer not provided in refrigerated or hot holding equipment.', Decimal('3.03725583522318970456'), 130),
 ('Ice Cream, Gelato, Yogurt, Ices', 'Food Protection Certificate not held by supervisor of food operations.', Decimal('2.95590372388737511313'), 193),
 ('Thai', 'Thawing procedures improper.', Decimal('2.63295387861815743384'), 151),
 ('Irish', 'Raw, cooked or prepared food is adulterated, contaminated, cross-contaminated, or not discarded in accordance with HACCP plan.', Decimal('2.36926856707606961582'), 321),
 ('Mexican', 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140º F to 70º F or less within 2 hours, and from 70º F to 41º F or less within 4 additional hours.', Decimal('2.32604334681922423393'), 260),
 ('Indian', 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140º F to 70º F or less within 2 hours, and from 70º F to 41º F or less within 4 additional hours.', Decimal('2.25894922764668515604'), 112),
 ('Chinese', 'Thawing procedures improper.', Decimal('2.19706959100320264473'), 1121),
 ('Caribbean', 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140º F to 70º F or less within 2 hours, and from 70º F to 41º F or less within 4 additional hours.', Decimal('2.10839437062662159063'), 206),
 ('Hamburgers', 'Accurate thermometer not provided in refrigerated or hot holding equipment.', Decimal('2.09465740943583287679'), 109),
 ('Soups & Sandwiches', 'Cold food item held above 41º F (smoked fish and reduced oxygen packaged foods above 38 ºF) except during necessary preparation.', Decimal('2.09139161095227355961'), 106),
 ('Chinese', 'Food worker does not wash hands thoroughly after using the toilet, coughing, sneezing, smoking, eating, preparing raw foods or otherwise contaminating hands.', Decimal('2.08653962316137509960'), 121),
 ('American ', '""No Smoking” and/or \'Smoking Permitted” sign not conspicuously posted. Health warning not present on \'Smoking Permitted”', Decimal('2.08444341646233404590'), 227),
 ('Donuts', 'Bulb not shielded or shatterproof, in areas where there is extreme heat, temperature changes, or where accidental contact may occur.', Decimal('2.06486468052437709507'), 110),
 ('Middle Eastern', 'Food Protection Certificate not held by supervisor of food operations.', Decimal('1.98501350465820781387'), 117),
 ('Spanish', 'Food not cooled by an approved method whereby the internal product temperature is reduced from 140º F to 70º F or less within 2 hours, and from 70º F to 41º F or less within 4 additional hours.', Decimal('1.90084981288257535481'), 151),
 ('Hamburgers', 'Filth flies or food/refuse/sewage-associated (FRSA) flies present in facility’s food and/or non-food areas. Filth flies include house flies, little house flies, blow flies, bottle flies and flesh flies. Food/refuse/sewage-associated flies include fruit flies, drain flies and Phorid flies.', Decimal('1.89561433077133792343'), 600),
 ('Café/Coffee/Tea', 'Toilet facility not maintained and provided with toilet paper, waste receptacle and self-closing door.', Decimal('1.88386670262328656729'), 315)]